@include media-lg{
    main {
    
            table {
    
                tr {
    
                    .options {
    
                        &-menu {
                            width: 18vw !important;
                        }
                    }
                }
            }
        }
}

@include media-md{
    .dashboard {
            display: flex;
            justify-content: end;
            width: 100% !important;
    
            &-content {
                width: 100% !important;
                padding-inline: 0.5rem !important;
                padding-bottom: 13vh !important;

                main{ 

                table {
                    display: table;
                    width: 100%;
                    padding-inline: 1rem;

                    tr{
                        
                        td{
                            font-size: 0.7rem !important;
                        }
                    }
                }
            }

            footer{

                .users-count{
                    width: 50% !important;
                }
            }
        } 
    }
}
@include media-sm{
    .dashboard {
            display: flex;
            justify-content: end;
            width: 100% !important;
    
            &-content {
                width: 100% !important;
                padding-inline: 0.5rem !important;
                padding-bottom: 15vh !important;
            }
    }
    section{
        flex-wrap: wrap;
        justify-content: center;

        .card{
            width: 45% !important;
        }
    }
    .lg-table{
        display: none !important;
    }
    .sm-table{
        // display: table !important;
        display: block !important;
        padding-inline: 0.3rem !important;

        table {
            border: 1px solid #33333369;
            border-radius: 8px;
            margin-bottom: 0.5rem;
        }
    }   
    
    footer{
        
        .footer-content{
            display: flex !important;
            flex-wrap: wrap;

            .current-page, .users-count{
                width: 100% !important;
            }

            .current-page {
                margin-bottom: 1rem;
                div{
                    width: 100%;
                    div{
                        .current-page-no{
                            width: 15% !important;
                        }
                    }
                }
            }
        }
    }
}