@include media-lg{
    .login-banner {
        padding-top: 20vh !important;
        &-img{
            padding-left: 0 !important;
            @include flexCenter;
        }
    }
    .login-banner-img-container{
        width: 100% !important;
        
        img{
            width: 90% !important;
            height: 100%;
        }
    }
    .login-form-container-content{
        main{
            form {
                input{
                    width: 80% !important;
                }
                .input-password-container{
                    width: 80% !important;

                    // input {
                    //     width: 85%;
                    //     border-radius: 0;
                    //     border: none;
                    // }
                    // button{
                        
                    // }
                }
                .login-btn-container{

                    button{
                        width: 80% !important;
                    }
                }
                .forgot-password{
                    margin-block: 0.8rem !important;
                }
            }
        }
    }
}
@include media-md{
    .login-banner {
        &-logo{
        width: 60% !important;

        }
    }
    .login-form-container-content{
        main{
            form {
                input{
                    width: 90% !important;
                }
                .input-password-container{
                    width: 90% !important;

                    input {
                        width: 80% !important;
                    }
                    button{
                        width: 20% !important;
                    }
                }
                .login-btn-container{

                    button{
                        width: 90% !important;
                    }
                }
            }
        }
    }
}
@include media-sm{
    .login-banner{
        padding-top: 0vh !important;
        width: 100% !important;
        height: 20% !important;
        border: none !important;
        display: flex;
    }
    .login-form-container{
        width: 100% !important;
        padding-top: 8vh !important;
    }
    .login-container{
        flex-direction: column;
    }
    .login-banner-logo{
        padding-left: 1rem !important;
        img{
            margin-inline: 0.2rem !important;
        }
    }
    .login-form-container-content{
        main{
            form {
                input{
                    width: 100% !important;
                }
                .input-password-container{
                    width: 100% !important;

                    input {
                        width: 80% !important;
                    }
                    button{
                        width: 20% !important;
                    }
                }
                .login-btn-container{

                    button{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}