.sidebar{
    position: absolute;
    background: #FFFFFF;
    height: calc(100vh - 5.2rem);
    width: calc(20vw - 1rem);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        width: 0px;
    }
}
.sidebar-content{
    padding: 1.2rem 0 1rem 0;
    height: 100%;
    color: $primary-color;

    header{
        background: white;

       & > div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block: 1rem;
            padding-block: 0.5rem;
            padding-inline: 0.9rem;
            cursor: pointer;
        }


        .dash-home{
            justify-content: start !important;

            p{
                margin-left: 1rem;
            }
        }
    }
    .customize,.business,.settings{
        background: white;

        header{
            font-weight: 500;
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-block: 1rem;
            padding-left: 1rem;
        }

        main{

           & > div{
                display: flex;
                margin-block: 0.5rem;
                align-items: center;
                padding-block: 0.5rem;
                padding-inline: 0.9rem;
                cursor: pointer;

                p{
                    margin-left: 1.2rem;
                }
            }
        }
    }

    .log-out{
        padding-top: 1rem;
        border-top: 1px solid rgba($primary-color, $alpha: 0.1);

        main{
            font-weight: 500;
            margin-block: 1rem;
            

            & > div{
                display: flex;
                flex-wrap: wrap;
                text-transform: capitalize;
                padding-left: 1.5rem;

                & > p{
                    margin-left: 1.5rem;
                }
            }
            .version{
                width: 100%;
                text-transform: none;
                font-size: 0.8rem;
                margin-top: 2.5rem;
                padding-left: 0;
                display: flex;
                justify-content: flex-start;
            }
        }

        &-btn{
            padding-block: 0.7rem;
        }
    }
}
#details-page{
    overflow: initial;
}
@include media-md{
    .sidebar {
        display: none !important;
    }
    
}