.filter{
    position: absolute;
    display: none;
    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    height: 100%;
    padding-bottom: 0.5rem;

    form{
        height: 100%;
// .slice(0, 5)
// new Date(data[1].createdAt).toDateString().slice(3))
        div{
            height: 14.677%;
            @include flexCenter;
            flex-wrap: wrap;

            label{
                width: 100%;
                height: 50%;
                display: flex;
                align-items: end;
                color: $primary-color;
                text-transform: capitalize;
                padding-left: 1.5vw;
            }

            input{
                padding-block: 0.5rem;
                width: 85%;
                padding-left: 0.4rem;
                margin-top: 0.2rem;
            }
        }
    }

    &-btn-container{
        padding-inline: 0rem;

        button{
            width: 32%;
            padding-block: 0.7rem;
            margin-inline: 0.5rem;
            border: 1px solid #545F7D;
            border-radius: 8px;
            text-transform: capitalize;
            font-weight: 600;
        }

        .reset-btn{
            background: transparent;
            color: $text-color;
        }
        .filter-btn{
            background: $secondary-color;
            color: white;
            border: 1px solid #39CDCC;
        }
    }
}
.lg-table{
    position: relative;
}

.filter-alt{
    height: 35vh;
    width: 35vw;
    padding-bottom: 0;

    form{
        display: flex;
        flex-wrap: wrap;

        div{
            width: 50%;
        }
    }
}

@include media-lg{
.filter-alt{
    height: 95vh;
    width: 40vw;

    form{
        display: flex;
        flex-wrap: wrap;

        div{
            width: 50%;
        }
    }
}
}
@include media-md{
.filter-alt{
    height: 45vh;
    width: 60vw;

    form{
        display: flex;
        flex-wrap: wrap;

        div{
            width: 50%;
        }
    }
}
}